version: '3.5'
services:
  postgres:
    container_name: substreams
    image: postgres:latest
    environment:
      POSTGRES_USER: substreams_admin
      POSTGRES_PASSWORD: pass
      # PGDATA: /data/postgres
    volumes:
      # - postgres-db:/data/postgres
      - ./postgres-data:/var/lib/postgresql/data
      # copy the sql script to create tables
      - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
      # - ./sql/asdf.sh:/docker-entrypoint-initdb.d/asdf.sh
    ports:
      - "5432:5432"

volumes:
  postgres-db:
    driver: local
